<section>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="../assets/Koorta1.png"/>
      </figure>
    </div>
    <div class="card-content">
      <div class="media=content">
        <p class="title">Neat tree</p>
        <p class="subtitle">&#64;nature</p>
      </div>
      <div class="content">
        Saw treeeeee.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="../assets/Koorta2.png"/>
      </figure>
    </div>
    <div class="card-content">
      <div class="media=content">
        <p class="title">Neat tree</p>
        <p class="subtitle">&#64;nature</p>
      </div>
      <div class="content">
        Saw treeeeee.
      </div>
    </div>
  </div>
</section>